a {
			text-decoration: none;
		}
		.bg-SCUM{
			background-color: rgba(15,15,15,.8);
		}
		.bg-dark-TM{
			background-color: rgba(33,37,41,0.8);
		}
		.bg-tm{
			background-color: rgba(0,0,0,0);
		}
		li {
			list-style: none
		}
		
		img {
			border-radius: 0.25rem !important;
		}
		
		.text-scum {
			color: #95a5a6;
		}
		
		.fd-img:hover {
			transform: scale(1.02, 1.02)
		}
		/*logo*/
		
		.logo {
			transform: scale(1.1, 1.1)
		}
		/*导航栏*/
		
		.nav-item:hover {
			transform: scale(1.1, 1.1)
		}
		
		.nav-item {
			padding: 10px;
			border-radius: 0.25rem !important;
		}
		
		.dropdown-menu {
			background-color: rgba(250, 250, 250, 0.5);
		}
		/*条纹*/
		
		.box-1 {
			padding: 20px;
			background-color: rgba(15,15,15,.8);
			width: 100%;
			border-radius: 0.25rem !important;
		}
	    .box-2{
	    	padding: 10px;
			background-color: rgba(15, 15, 15, 0.2);
			width: 100%;
			border-radius: 0.25rem !important;
	    }
		/*轮播图*/
		
		.carousel-inner img {
			width: 100%;
			height: 100%;
		}
		/*正文*/
		
		.card {
			border: 0px;
			border-radius: 0.25rem !important;
		}
		
		.card:hover {
			transform: scale(1.02, 1.02)
		}
		
